/* HERO SECTION */
.hero{
    height:55vh;
    background:url("images/poster1.jpg") center center/cover no-repeat;
    display:flex;
    align-items:center;
    padding:40px;
}

.overlay{
    background:rgba(0,0,0,.65);
    padding:25px;
    border-radius:12px;
    max-width:450px;
}

.overlay h1{
    font-size:42px;
    margin-bottom:10px;
}

.overlay p{
    font-size:17px;
    line-height:1.5;
    margin-bottom:20px;
}

/* MOVIE ROW */
.movie-row{
    display:flex;
    gap:20px;
    overflow-x:auto;
    padding:20px 0;
    scroll-behavior:smooth;
}

/* MOVIE CARD */
.movie-card{
    min-width:280px;
    background:#1a1a1a;
    border-radius:10px;
    overflow:hidden;
    transition:.3s;
    flex-shrink:0;
}

.movie-card:hover{
    transform:scale(1.05);
}

.movie-card img{
    width:100%;
    aspect-ratio:16/9;
    object-fit:cover;
    display:block;
}

.movie-card h3{
    padding:12px;
    font-size:20px;
}

.movie-card button{
    margin:10px;
    width:calc(100% - 20px);
}

/* MOBILE */
@media (max-width:768px){

.navbar{
    flex-direction:column;
    gap:10px;
    padding:15px;
}

.menu{
    flex-wrap:wrap;
    justify-content:center;
}

.search{
    width:100%;
}

.hero{
    height:42vh;
    padding:20px;
}

.overlay{
    max-width:280px;
    padding:18px;
}

.overlay h1{
    font-size:28px;
}

.overlay p{
    font-size:14px;
}

.movie-card{
    min-width:220px;
}

.movie-card img{
    aspect-ratio:16/9;
}

button{
    width:100%;
}

  }
